@import "_nullstyle";
@import "pages/_suggestions";

/*---------------General---------------*/
body {
    font-family: "YS Text", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
	background-color: #FFFFFF;
}
label, .filter__title {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.wrapper {
    min-height: 100%;
	min-width: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;

	@media (max-width: 1200px) {
		padding: 0 20px;
	}

	@media (max-width: 700px) {
		padding: 0 25px;
	}
}
._svg {
    width: 25px;
    height: 25px;
}
._form-check {
    padding: 13px 20px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    width: 100%;
    background-color: #ffffff9b;
}
._button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in, color 0.2s ease-in;

    border-radius: 10px;
    height: 40px;
    min-width: 110px;
    font-size: 13px;
}

/*----------------Header--------------*/
.header {
    border-bottom: 1px solid rgba(198, 189, 189, 0.393);

    &__main-menu {
        
    }
}
.main-menu {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        height: 80px;
    }

    &__logo {

    }

    &__menu {

    }
}
.logo {
    
    &__link {

    }

    &__image {
        display: block;

        @media (max-width: 768px) {
            width: 200px;
        }
        @media (max-width: 576px) {
            width: 180px;
            margin: 0px 15px 0px 0px;
        }
    }
}
.menu {
    
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        cursor: pointer;

        &:not(:last-child) {
            margin: 0px 30px 0px 0px;
        }

        @media (max-width: 576px) {
            &:not(:last-child) {
                margin: 0px 20px 0px 0px;
            }
        }
    }

    &__icon {

    }
}
.icon {

    
}
.search-svg {
    padding: 1px 0px 0px 0px;
    width: 27px;
    height: 27px;

    @media (max-width: 768px) {
        height: 22px;
        width: 22px;
    }
}
.profile-svg {

    @media (max-width: 768px) {
        height: 20px;
        width: 20px;
    }
}

/*----------------Main--------------*/
.main {
    flex: 1 0 auto;

    &__content {
        padding: 65px 0;
    }
}
.content {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__header-block {
        text-align: center;
        width: 100%;
        margin: 0 0 45px;
        font-size: 35px;
    }

    &__main-form {

    }
}
.header-block {

    &__title {
        font-weight: 600;
    }
}
.main-form {
    max-width: 700px;
    box-shadow: 0px 1px 4px rgb(179, 179, 179);
    border-radius: 25px;

    background-image: url('/assets/images/background-img.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;

    &__wrapper {
        border-radius: 25px;
        padding: 50px;
        background-color: #ffffffc4;
    }

    &__row {
        font-size: 15px;

        &:not(:last-child) {
            margin: 0px 0px 20px 0px;
        }
    }

    &__input-fields{
        margin: 0px 0px 20px 0px;
    }

    @media (max-width: 768px) {

        &__wrapper {
            padding: 40px;
        }
    }
}
.row {
    display: block;

    &__title {
        display: flex;
    }

    &__text {
        font-weight: 600;
        padding: 0px 5px 13px 0px;
    }

    &__input {
        padding: 10px;
        height: 40px;
        width: 70%;
        min-width: 120px;
        border: 1px solid #9a9a9a40;
        border-radius: 10px;
        background-color: #ffffff9b;
        font-size: 14px;

        @media (max-width: 576px) {
            width: 100%;
        }
    }

    &__textarea {
        padding: 12px;
        width: 100%;
        min-width: 120px;
        border: 1px solid #9a9a9a40;
        border-radius: 10px;
        background-color: #ffffff9b;
    }

    &__check-input {
        
    }

    &__check-span {

    }

    &__span {
        color: #828282;
        font-size: 13px;
        display: inline-block;
    }

    &__action {
        display: flex;
        align-items: center;
        margin: 0px 0px 20px 0px;
    }

    &__button-load {
        display: block;
        color: #000000;
        background: #ffffff00;
        border: 1px solid #9a9a9a40;
        margin: 0px 20px 0px 0px;

        &:hover {
            border: 1px solid #83838340;
            background: #e1e1e17e;
        }
    }

    &__button-submit {
        color: #FFFFFF;
        background: #5282ff;
        margin: 50px auto 0;
        
        &:hover {
            background: #2f6aff;
        }
    }

    &__file-list {
        display: flex;
        flex-wrap: wrap;
    }

    &__file-item {
        padding: 12px;
        width: fit-content;
        border: 1px solid #9a9a9a40;
        border-radius: 10px;
        margin: 0px 10px 10px 0px;
    }

    &__file-name {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 5px;
        padding: 0px 5px 0px 0px;
    }

    &__delete-file {
        cursor: pointer;
    }
}

.required {
    &::after {
        content: '*';
        color: red;
        margin: 0px 0px 0px 5px;
    }
}

.input-date {
    color: #00000057;
    width: fit-content;
    font-size: 15px;
}

/*----------------Footer--------------*/
.footer {
    flex: 0 0 auto;
    border-top: 1px solid rgba(198, 189, 189, 0.393);

    &__wrapper {

    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 56px;
    }

    &__body {

    }

    &__info {

    }

    &__copyright {

    }
}
