
/*---------------General---------------*/
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid #000000;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

._button-svg {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #E5E5E5;
	color: #0070C0;
	background-color: #FFFFFF;
	width: 30px;
	height: 30px;
	border-radius: 10%;
	transition: all 0.2s ease;

	&:hover {
        color: #FFFFFF;
		background-color: #0070C0;
	}

	& path{
        stroke: #0070C0;
		transition: all 0.2s ease;
    }

    &:hover path {
		stroke: #FFFFFF;
	}
}

/*---------------Table---------------*/
.content {

    &__body {
        width: 100%;
    }

    &__search-block {

    }
    
    &__main-table {
        position: relative;
        overflow: auto;
        max-height: 600px;
        max-width: fit-content;
        margin: 0 auto;
        box-shadow: 0px 0px 7px rgb(179, 179, 179);
        background-image: url('/assets/images/background-img.png');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__background {
       
    }

    &__container {

    }

    &__pagination {

    }
}
.search-block {
    display: flex;
    align-items: center;
    padding: 0px 0px 15px 0px;

    &__title {
        margin: 0px 10px 0px 0px;
    }

    &__row {
        margin: 0px 6px 0px 0px;
        height: 30px;
        width: 150px;
        min-width: 120px;
        border: 1px solid #9a9a9a40;
        font-size: 14px;
    }

    &__button {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        stroke: #797979;
        
        & path{
            stroke: #797979;
            transition: all 0.2s ease;
        }

        & svg {
            width: 20px;
            height: 20px;
        }
    }

    & select {
        padding: 5px;
    }

    & input {
        padding: 10px;
    }

    @media (max-width: 576px) {
        flex-direction: column;

        &__title {
            display: block;
            margin: 0px 0px 10px 0px;
        }

        &__row {
            width: 100%;
            height: 40px;

            &:not(:last-child) {
                margin: 0px 0px 10px 0px;
            }
        }
    }
}
.table {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.888);

    &__thead {

        & th {
            position: sticky;
            top: 0;
            z-index: 2;
            background: #0070C0;
            color: #FFFFFF;
            min-width: 120px;
        }

        & th:first-child {
            left: 0;
            z-index: 3;
        }

        @media (max-width: 768px) {
            
            & th {
                min-width: 100px;
            }
        }
    }

    &__tbody {

        & tr > :first-child {
            position: sticky;
            background: #0070C0;
            color: #FFFFFF;
            left: 0;
        }

        & th {

        }

        & td {
            
        }
    }
}
.pagination {
        padding: 30px 0px 0px 0px;

		&__container {

		}

		&__body {
            display: flex;
		}

		&__button {
            padding: 0px 5px 0px 0px;
		}

		&__link {
            
            &.active {
                color: #FFFFFF;
                background-color: #0070C0;
            }

            &.disable {
                cursor: default;
                pointer-events: none;
            }
		}
}